body {
font: 20px Montserrat, sans-serif;
line-height: 1.8;
color: #f5f6f7;
}
p {
  font-size: 16px;

}
p.btn{
    margin-top: 5%;
}
.margin {
  margin-bottom: 5%;
  margin-left: 2%
}
.bg-0 {
background-color: #ff5050; /* Red */
color: #ffffff;
}
.bg-1 {
background-color: #1abc9c; /* Green */
color: #ffffff;
}
.bg-2 {
background-color: #474e5d; /* Dark Blue */
color: #ffffff;
}
.bg-3 {
background-color: #ffffff; /* White */
color: #555555;
}
.bg-4 {
background-color: #2f2f2f; /* Black Gray */
color: #fff;
}
.container-fluid {
padding-top: 70px;
padding-bottom: 70px;
}
.navbar {
padding-top: 15px;
padding-bottom: 15px;
border: 0;
border-radius: 0;
margin-bottom: 0;
font-size: 12px;
letter-spacing: 5px;
}
.navbar-nav  li a:hover {
color: #1abc9c !important;
}
.index-icon {
font-size:400%;
}
.margin-icon{
  margin-top: 17%;
  margin-left: 35%;
}
.navbar-icon {
  font-size:150%;
}
a.index, a.index:-webkit-any-link{
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
a.index:focus,a.index :hover{
  color: #1abc9c;
  text-decoration: none;
}
.progress-bar{
  background-color: #1abc9c;
}
.progress{
  margin-top: 2%;
  margin-bottom: 2%;
}
.button_selection{
  background-color: #ffffff;
  color: #555555;
  border-radius: 8px;
}
.button_selection:hover{
  background-color: #1abc9c;
  color: #fff;
}
.button_selection.active{
  background-color: #1abc9c;
  color: #fff;
  border-radius: 8px;
}
